# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore configuration files
config.js

# Ignore package lock file
package-lock.json

# Ignore IDE-specific files (optional)
.vscode/
